<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>个人中心</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"  media="all" />
	<link th:href="@{/css/responsiveslides.css}" rel="stylesheet"/>
	<script th:src="@{/js/jquery-1.8.3.min.js}"></script>
	<script th:src="@{/js/jquery.cookie.js}"></script>
	<script th:src="@{/js/responsiveslides.min.js}"></script>
	<script th:inline="javascript">
		$(function(){

			var userName = $.cookie("user");
			if(userName != ""){
				if(typeof(userName) != "undefined"){
					$("#status").html('<a th:href="@{/mianbao/travel/user/userInfo}">欢迎您: ' + userName +"</a>");
				}
			}

			//注销
			$("#cancel").click(function(){
				debugger;
				$.cookie("token", "", { expires: -1 , path: '/'}); // 删除 tooken
				$.cookie("user", "", { expires: -1, path: '/' }); // 删除 user
				 window.location.href="/mianbao/travel/index.html";
			});
		});
	</script>
</head>
	<body>
			<div class="header">
				<div class="wrap">
				<div class="logo">
					<a href="index.html"><img th:src="@{/images/logo.png}" title="logo" /></a>
				</div>
				<div class="top-nav">
					<ul>
						<li><a th:href="@{/mianbao/travel/index}">首页</a></li>
						<li><a th:href="@{/mianbao/travel/dynamic/center(pageNo=1,pageSize=3)}">个人中心</a></li>
						<li><a th:href="@{/mianbao/travel/scenic/center(pageNo=1,pageSize=6)}">景点中心</a></li>
						<li><a id="cancel" href="javascript:void(0)">注销登录</a></li>
						<li id ="status"><a th:href="@{/mianbao/travel/user/login}">登录</a></li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<div class="clear"> </div>
		<div class="content">
			<div class="wrap">
				<div class="about-us">
					<div class="about-header">
						<h5> </h5><h3>关于旅行</h3><h5> </h5>
						<div class="clear"> </div>
					</div>
					<div class="about-info">
						<a href="#">旅行不是为了换个地方，而是为了改变思想 - H. Taine</a>
						<p>旅行的意义，在于让你看到这个世界是何等的大.在你未知的角落，总有人正以你从未想像的方式在过活.有些富足，内心却一贫如洗。有些窘迫，倒也甘之如饴,生活向来是冷暖自知的事情，而我要我的生活分分秒秒地在路上,每一天的我，要比昨天辽阔</p>
					</div>
				</div>
			<div class="clear"> </div>
			<div class="specials">
					<div class="specials-heading">
						<h5> </h5><h3>我的足迹</h3><h5> </h5>
						<div class="clear"> </div>
					</div>
					<div class="clear"> </div>
					<div class="specials-grids">
						<div class="special-grid spe-grid" th:each="dynamic:${page.rows}">
							<img th:src="${dynamic.dynamicPicture}" title="image-name" style="width:300px;height:400px"/>
							<a th:href="@{/mianbao/travel/dynamic/dynamicInfo(id=${dynamic.id})}" th:text="${dynamic.dynamicTitle}">游记标题</a>
							<p th:text="${dynamic.dynamicContent}">游记内容</p>
						</div>
					</div>
					<div class="clear"> </div>
			</div>
			</div>
			<div class="clear"> </div>
			<div class="testmonials">
				<div class="wrap" align="center">
					<div th:if="${not (page.pagerNum eq 0)}">
						<a th:if="${not (page.page eq 1)}" th:href="@{${'/mianbao/travel/dynamic/center'}(pageNo=${page.page -1},pageSize=${page.pageSize})}">前一页</a>
						<a th:if="${page.page eq 1}" href="javascript:void(0);">前一页</a>
						<span th:each="pageNo : ${#numbers.sequence(1, page.pagerNum)}">
							<a th:if="${page.page eq pageNo}" href="javascript:void(0);">
								<span th:text="${pageNo}"></span>
							</a>

							<a th:if="${not (page.page eq pageNo)}" th:href="@{${'/mianbao/travel/dynamic/center'}(pageNo=${pageNo},pageSize=${page.pageSize})}">
								<span th:text="${pageNo}"></span>
							</a>
						</span>
						<a th:if="${not (page.page eq page.pagerNum)}" th:href="@{${'/mianbao/travel/dynamic/center'}(pageNo=${page.page+1},pageSize=${page.pageSize})}">下一页</a>
						<a th:if="${page.page eq page.pagerNum}" href="javascript:void(0);">下一页</a>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"> </div>
		<div class="clear"> </div>
		<div class="copy-right">
			<p>Copyright &copy; 2017.Company name 稻草人</p>
		</div>
</body>
</html>

