<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>动态评论功能</title>
    <link rel="stylesheet" th:href="@{/css/dynamic/style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/scenic/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/scenic/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/scenic/style.css}" id="theme-styles"/>
    <script th:src="@{/js/vendor/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/js/jquery.cookie.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/dynamic/index.js}"></script>
    <script th:inline="javascript">
        $(function(){
            $("#like").click(function(){
                var userName = $.cookie("user");
                if(userName == null){
                    window.alert("只有登录之后才可以点赞哦");
                }else{
                    var url = "/mianbao/travel/dynamic/like";
                    var data = {"id":$("#dynamicId").val()};
                    get(url,data,function(data){
                        if(data.success){
                            $("#likeStatus").val(1);
                             window.location.reload();
                        }else{
                            window.alert("点赞失败 您可能已经赞过了");
                        }
                    });
                }
            });
        })
    </script>
</head>
<body>
<div class="widewrapper masthead">
    <div class="container">
        <div id="mobile-nav-toggle" class="pull-right">
            <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <nav class="pull-right clean-nav">
            <div class="collapse navbar-collapse">
                <ul class="nav nav-pills navbar-nav">

                    <li>
                        <a th:href="@{/mianbao/travel/index}">首页</a>
                    </li>
                    <li>
                        <a th:href="@{/mianbao/travel/scenic/center(pageNo=1,pageSize=6)}">景点中心</a>
                    </li>
                    <li id ="status">
                        <a th:href="@{/mianbao/travel/user/login}">登录</a>
                    </li>
                    <li>
                        <a th:href="@{/mianbao/travel/user/register}">注册</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</div>
<div id="list">
    <div class="box clearfix">
        <a class="close" href="javascript:;">×</a>
        <input type="hidden" id="dynamicId" th:value="${data.dynamicId}" value=""/>
        <input type="hidden" id="likeStatus" value="0"/>
        <img class="head" th:src="@{/images/dynamic/1.jpg}" />
        <div class="content">
            <div class="main">
                <p class="txt">
                    <span class="user" th:text="${data.userName}">发表人</span>
                    <p th:text="${data.dynamicInfoVo.dynamicTitle}">发表标题</p>
                    <p th:text="${data.dynamicInfoVo.dynamicContent}">发表内容</p>
                </p>
                <div class="about-image" th:each="picture:${data.dynamicInfoVo.dynamicPicture}">
                    <img th:src="${picture}" class="pic"/>
                </div>
            </div>
            <div class="info clearfix">
                <span class="time" th:text="${data.date}">发表时间</span>
                <a class="praise" href="javascript:;" id="like">赞</a>
            </div>
            <div class="praises-total" id ="total" th:value="${data.dynamicInfoVo.dynamicLikeVo.totalCount}" style="display:block"><span th:text="${data.dynamicInfoVo.dynamicLikeVo.totalCount}"></span>个人觉得很赞&nbsp;&nbsp;&nbsp;<a style="color:blue" href="javascript:;" id="selectLikeInfo">查看点赞详细</a></div>
            <div class="commentList" th:if="${data.evaluate != null}">
                <div class="comment-box clearfix" user="self" th:each="evaluate:${data.evaluate}">
                    <img class="myhead" th:src="@{/images/dynamic/my.jpg}" />
                    <div class="comment-content">
                        <p class="comment-text"><span class="user"><span th:text="${evaluate.evaluateUser}">评价人</span>：</span><span th:text="${evaluate.evaluateContent}">评价内容</span></p>
                        <p class="comment-time"><p th:text="${evaluate.date}"></p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-box">
                <textarea class="comment" autocomplete="off" id="content">评论...</textarea>
                <button class="btn" id="comment">回复</button>
                <span class="word"><span class="length">0</span>/140</span>
            </div>
            <div id="likeList" class="commentList" style="margin-top:50px;">
            </div>
        </div>
    </div>
</div>
</body>
</html>