<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>图片上传</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"  media="all" />
    <link th:href="@{/css/jquery.tagsinput.css}" rel="stylesheet" type="text/css" media="all"/>
    <script th:src="@{/js/jquery-1.8.3.min.js}"></script>
    <script th:src="@{/js/jquery.tagsinput.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:inline="javascript">
        $(function(){
            //预览
            preview();

            //图片上传
            $("#upload").click(function(){
                var url = "/mianbao/travel/dynamic/release";
                upload(function(data){
                    if(data.success){
                        window.location.href="/mianbao/travel/index.html";
                    }else{
                        window.alter("上传失败!");
                    }
                },url);
            });

            //获取景点信息
            var url = "/mianbao/travel/scenic/findScenicByName";
            search(url);
        });
    </script>

</head>
    <body>
        <form id="release" method="post" name="release">
            <label>动态消息</label><br/>
            动态标题:<input type="text" name="dynamicTitle" placeholder="动态标题"/><br/>
            动态内容:<input type="text"  name="dynamicContent" placeholder="动态内容"/><br/>

            关联景点:
                <div id = "search">
                    <input type="text" id="keyword" name="keyword" />
                    <div id="searchBox" hidden="hidden">
                        <ul>
                        </ul>
                    </div>
                </div>

            <input name="tags" id="tags" value="" hidden="hidden" />
            <input name="scenicIds" id="scenicIds" value="" hidden="hidden"/>
        </form><br/>
        <hr/>
        <h3>图片</h3>
        <label>请选择一个图像文件：</label>
        <input type="file" id="file_input" multiple="multiple"/>
        <input type="button" id="upload" value="上传"/>
    </body>
</html>