<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>登录</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"  media="all" />
		<script th:src="@{/js/jquery-1.8.3.min.js}"></script>
		<script th:src="@{/js/jquery.cookie.js}"></script>
		<script th:src="@{/js/common.js}"></script>
		<script th:inline="javascript">
			$(function(){
				var userName = $.cookie("user");
			    if(userName != ""){
			        if(typeof(userName) != "undefined"){
			    		$("#status").html('<a href="javascript:void(0);">欢迎您: ' + userName +"</a>");
			        }
			    }

				$("#register").click(function(){
					var userName= $("#userName").val();
					var userEmail= $("#userMail").val();
					var password = $("#password").val();
					var val=$('input:radio[name="userSex"]:checked').val();

					if(val == "" || val == null){
						window.alert("性别必须勾选");
					}else{
						 if(userName == "" || userEmail == "" || password == ""){
							window.alert("用户名,密码 ,邮箱不能为空!");
						}else{
							var jsonObject = JSON.stringify($("#registerData").serializeObject());
							post(baseUrl+"/travel/user/register",jsonObject,function(data){
								if(data.success){
									window.alert("注册成功");
								}else{
									window.alert(data.errorMsg);
								}
							});
						}
					}
				});
			});
		</script>
	</head>
	<body>
			<div class="header">
				<div class="wrap">
				<div class="logo">
					<a href="index.html"><img th:src="@{/images/logo.png}" title="logo" /></a>
				</div>
				<div class="top-nav">
					<ul>

						<li><a href="/mianbao/travel/index.html">首页</a></li>
						<li><a th:href="@{/mianbao/travel/dynamic/center(pageNo=1,pageSize=3)}">个人中心</a></li>
						<li><a th:href="@{/mianbao/travel/scenic/center(pageNo=1,pageSize=6)}">景点中心</a></li>
						<li><a th:href="@{/mianbao/travel/user/register}">注册</a></li>
						<li id ="status"><a th:href="@{/mianbao/travel/user/login}">登录</a></li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<div class="clear"> </div>
		<div class="content">
			<div class="wrap">
			<div class="section group">
				<div class="col span_1_of_3">
					<div class="contact_info">
			    	 	<h3>Find Us Here</h3>
			    	 		<div class="map">
					   			<iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br/><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px">View Larger Map</a></small>
					   		</div>
      				</div>
      			<div class="company_address">
				     	<h3>稻 草 人 :</h3>
						    	<p>身未动,心远行</p>
						   		<p>因为有梦,所以勇敢出发</p>
						   		<p>选择出发，便只顾风雨兼程</p>
				   		<p>梦想</p>
				   		<p>并不奢侈</p>
				 	 	<p>up Email: <span>zoujiajian@lianjia.com</span></p>
				   		<p>分享: <span>Facebook</span>, <span>Twitter</span></p>
				   </div>
				</div>				
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h3>注册</h3>
					    <form id="registerData" action="" method="post">
					    	<div>
						    	<span><label>用户名</label></span>
						    	<span><input name="userName" value="" type="text" class="textbox" placeholder="user name" id="userName" /></span>
						    </div>
						    <div>
						    	<span><label>邮箱</label></span>
						    	<span><input name="userMail" type="email"  value="" class="textbox" placeholder="user mail" id="userMail"/></span>
						    </div>
						    <div>
						     	<span><label>性别</label></span>
						    	<span>
									男: <input name="userSex" type="radio" value="男"/>
									女: <input name="userSex" type="radio" value="女"/>
								</span>
						    </div>
							<div>
								<span><label>密码</label></span>
								<span><input name="userPassword" type="password" id="password" value="" class="textbox" placeholder="password"/></span>
						    </div>
						   <div>
						   		<span><input id="register" type="button" value="Submit"/></span>
						  </div>
					    </form>

				    </div>
  				</div>				
			  </div>
			  </div>
			<div class="clear"> </div>
		</div>
		<div class="clear"> </div>
		<div class="copy-right">
			<p>Copyright &copy; 2017.Company name 稻草人</p>
		</div>
</body>
</html>

